{% extends 'backEnd__sellerDashboard/index.html' %}
{% load static %}


{% block main_block %}

<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Edit Information
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">User</a></li>
        <li class="active"> profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3 col">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Change Image</h3>
            </div>
            <div class="box-body box-profile ">
              {% if profile_pic %}
              <img class="profile-user-img img-responsive img-circle" src="{{profile_pic.pic.url}}" id="img-prof" style="width: 150px; height: 150px;" alt="User profile picture">
              {% else %}
              <img class="profile-user-img img-responsive img-circle" src="{% static 'backEnd/dist/img/avatar.png' %}" id="img-prof" style="width: 150px; height: 150px;" alt="User profile picture">
              {% endif %}
              <p class="text-muted text-center">Acceptable formats jpg, png etc</p>
              <p class="text-muted text-center">Max file size is 8 MB</p>
              
              <div class="text-center" style="margin-top:20px;">
                <form action="{% url 'sellerUpdateSellerProfilePic' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  {% csrf_token %}
                    <label class="btn btn-danger " for="profile_pic"><b>Choose Image</b></label>
                    <input type="submit" class="btn btn-primary" value="submit" name="submit">
                    <input type="file" name="profile_pic" onchange="loadFile(event)"  id="profile_pic" placeholder="Email" required style="display:none;">
                </form>

                
                
              </div>
              <p> &nbsp;</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col -->
          <div class="col-md-9">
            <!-- account information -->
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Account Information</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form action="{% url 'sellerUpdateUsernameFullName' %}" method="post" enctype="multipart/form-data" class="form-horizontal ">
                {% csrf_token %}

                <p> &nbsp;</p>
                <div class="form-group">
                  <label for="username" class="col-sm-2 control-label">UserName</label>

                  <div class="col-sm-9">
                    <input type="text" name="username" class="form-control" id="username" value="{{request.user.username}}" placeholder="First Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">First Name</label>

                  <div class="col-sm-9">
                    <input type="text" name="fname" class="form-control" id="inputName" value="{{request.user.fname}}" placeholder="First Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-2 control-label">Last Name</label>

                  <div class="col-sm-9">
                    <input type="text" name="lname" class="form-control" value="{{request.user.lname}}" id="inputEmail" placeholder="Last Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                <p> &nbsp;</p>
              </form>
            </div>
            <!-- /.box -->
            <!-- account information -->
            <div class="box box-danger">
              <div class="box-header with-border">
                <h3 class="box-title">Reset Password</h3>
              </div>
              <p> &nbsp;</p>
              <!-- /.box-header -->
              <!-- form start -->
              <form action="{% url 'sellerResetUserPassword' %}" method="post"  class="form-horizontal">
                {% csrf_token %}
                

                
                

                <div class="form-group">
                  <label for="inputSkills" class="col-sm-2 control-label">New Password</label>

                  <div class="col-sm-9">
                    <input type="password" name="new_pass" class="form-control" id="inputSkills" placeholder="New Password" required>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputSkills" class="col-sm-2 control-label">Confirm Password</label>

                  <div class="col-sm-9">
                    <input type="password" name="confirm_pass" class="form-control" id="inputSkills" placeholder="Confirm Password" required>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
                <p> &nbsp;</p>
              </form>
            </div>
            <!-- /.box -->
  
          </div>
          {% comment %} <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">

              <div class="active tab-pane" id="settings">

                <form action="{% url 'sellerUpdateSellerProfilePic' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-6 control-label">Update Profile Picture</label>
                    <div class="col-sm-6">

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Profile Pic</label>
                    <div class="col-sm-10">
                      <input type="file" name="profile_pic" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>

                <form action="{% url 'sellerUpdateFullName' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-6 control-label">Update Your Name</label>
                    <div class="col-sm-6">

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">First Name</label>

                    <div class="col-sm-10">
                      <input type="text" name="fname" class="form-control" id="inputName" value="{{request.user.fname}}" placeholder="First Name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Last Name</label>

                    <div class="col-sm-10">
                      <input type="text" name="lname" class="form-control" value="{{request.user.lname}}" id="inputEmail" placeholder="Last Name" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>

                <form action="{% url 'sellerUpdateUserPassword' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-6 control-label">Update Your Password</label>
                    <div class="col-sm-6">

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Userame</label>

                    <div class="col-sm-10">
                      <input type="text" name="username" class="form-control" id="inputName" placeholder="Username" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Old Password</label>

                    <div class="col-sm-10">
                      <input type="text" name="old_pass" class="form-control" id="inputSkills" placeholder="Old Password" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">New Password</label>

                    <div class="col-sm-10">
                      <input type="text" name="new_pass" class="form-control" id="inputSkills" placeholder="New Password" required>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div> {% endcomment %}
          <!-- /.nav-tabs-custom -->
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
{% endblock %}

{% block otherscripts %}
<script>
  var loadFile = function(event) {
    var image = document.getElementById('img-prof');
    image.src = URL.createObjectURL(event.target.files[0]);
  };
  </script>
{% endblock  %}