{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}


{% block dataTable_css %}
<!-- DataTables -->
<link rel="stylesheet"
      href="{% static 'backEnd/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block main_block %}

{% if woocommerce_prodct_list %}
<li>{{woocommerce_prodct_list.description}}</li>
{% endif %}


<div class="container-fluid" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<!--data tables*******************************************-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <h1>
                    Product List
                </h1>
                <ol class="breadcrumb">
                    <a href="/ap/fetch/woocommerce/product">
                        <button type="button"
                            style="border: none; outline: none; width: 120px; height: 35px; background: #3C8DBC; border-radius: 10px;color: white;">
                        Fetch Product
                        </button>
                    </a>
                </ol>
            </section>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Woocommerce store product list</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Title</th>
                                    <th>Price</th>
                                    <th>Regular Price</th>
                                    <th>Category Name</th>
                                    <th>Stock Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if woocomrce_product_list %}
                                {% for x in woocomrce_product_list %}
                                <tr>
                                    <td>{{x.product_id}}</td>
                                    <td>{{x.name|truncatechars:50}}</td>
                                    <td>{{x.price}}</td>
                                    <td>{{x.regular_price}}</td>
                                    <td>{{x.cat_name}}</td>
                                    <td>{{x.stock_status}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'apWoocmrcePrdctDetails' pk=x.pk %}">
                                            <button type="button" style="border:none; background: #222D32;color:white;">
                                                Check details</button>
                                        </a>

<!--                                        <a href="">-->
<!--                                            <button type="button" style="border:none; background: #00C0EF;color:white;">-->
<!--                                                <i class="fas fa-edit"></i> Update</button>-->
<!--                                        </a>-->

                                        <!-- modal for deleting object-->

                                        <button type="button" style="border:none; background: #FF0000;color:white;" data-toggle="modal"
                                                data-target="#remove{{x.pk}}">
                                                <i class="fas fa-backspace"></i> Remove
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="remove{{x.pk}}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-left" id="exampleModalLabel">Are you confirm to delete this?</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'apDelWoocmrceProduct' pk=x.pk %}">
                                                            <button type="button" class="btn btn-primary">
                                                                Confirm
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        modal for deleting object ends-->

                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Title</th>
                                    <th>Price</th>
                                    <th>Regular Price</th>
                                    <th>Category Name</th>
                                    <th>Stock Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block datatable_js %}
<!-- DataTables -->
<script src="{% static 'backEnd/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backEnd/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })


</script>
{% endblock %}