venv/
/venv/
venv
#idea folder
.idea/
.idea
db.sqlite3
/db.sqlite3/
/db.sqlite3

main.py
/main.py
main.py/
/main.py/

*/migrations
**/migrations

**/migrations/
**/**/migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

