{% for x in active_segment_list %}

                {% if x.segment_prize_type == '1' %}
                {
                    fillStyle: "{{x.bg_color}}",
                    text: "PC - {{x.prize_title}}",
                    textFontSize: 16,
                    textFillStyle: "#ffffff",
                    textOrientation: "horizontal",
                 },
                {% else %}
                {
                    fillStyle: "{{x.bg_color}}",
                    text: "{{x.prize_point_amount}}"
                },
                {% endif %}

                {% endfor %}