#user__profile__section {
    position: relative;
    /* margin-top: 30px; */
}

.invite__friend__section .content {
    width: 100%;
    position: relative;
    height: 50px;
}

.invite__friend__section .content .invitation {
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    background: #293A6C;
    color: white;
    position: absolute;
    right: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.invite__friend__section .content button .fas {
    padding-right: 6px;
}

.refer_and_get_bonus button{
    width: auto;
    height: 35px;
    border: none;
    outline: none;
    background: #C22D29;
    color: white;
    position: absolute;
    right: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#user__profile__section .user__profile__pic .card {
    width: 300px;
    padding: 10px;
}
#user__profile__section .user__profile__pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.remaining_chances_to_win {
    background: #293A6C;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

/*.play_buy_chance_btns a {
    position: absolute;
    right: 20px;
    top: 10px;
}*/

.play_buy_chance_btns {
    background: #293A6C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.play_buy_chance_btns a button {
    /*width: 120px;*/
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #85B649;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
}

.buy_winning_chances {
    position: relative;
    width: 100%;
    /*height: 250px;*/
    background-color: #F7F7F7;
    padding: 30px 30px 30px 30px;
    margin-top: 30px;
}

.buy_winning_chances form {
    position: relative;
}

.buy_winning_chances input[type='submit'] {
    cursor: pointer;
    margin-top: 20px;
    background: #293A6C;
    color: white;
}

/* order section*/
.order_item {
    position: relative;
}
.order_item .order_item_price {
    position: absolute;
    right: 10%;
}


/* user wallet */
.credit__wallet {
    margin-top: 10px;
}


.point__wallet h5 {
    color: #293A6C;
}

.credit__wallet h5 {
    color: #293A6C;
}

.point__wallet .convert_to_credit_btn button {
    outline: none;
    border: none;
    background: #85B649;
    color: white;
    border-radius: 5px;
    /*height: 32px;*/
    cursor: pointer;
}

.credit__wallet {
    position: relative;
}

.credit__wlt_header {
    width: 100%;
    position: relative;
}
/*.credit__wlt_header #buy_btn{
    position: absolute;
    right: 10px;
    bottom: 0;
}*/

#crdit__wlt_buy_btn button{
    background: #85B649;
    outline: none;
    border: none;
    color: white;
    /*height: 35px;*/
    border-radius: 5px;
    cursor: pointer;
}

.usr_profile_shipping_adrs {
    position: relative;
    margin-top: 15px;
}

#shipping_info_updt_mdl_btn {
    background: #293A6C;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    width: 110px;
    height: 32px;
}

#shipping_info_delete_mdl_btn {
    background: #FF0000;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    width: 110px;
    height: 32px;
}

#billing_info_updt_mdl_btn {
    background: #293A6C;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    width: 110px;
    height: 32px;
}

#billing_info_delete_mdl_btn {
    background: #FF0000;
    color: white;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    width: 110px;
    height: 32px;
}

/* prize section *(*******************************/
.btn_for_priz_detail_view {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_for_priz_delivry_status {
    background: rgb(193, 44, 38);
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.ads_cart__nd__wishlist {
    margin-top: 10px;
}

.ads_cart__nd__wishlist a button {
    border: none;
    outline: none;
    cursor: pointer;
}






















