#user__profile__section {
    position: relative;
    /* margin-top: 30px; */
}

.invite__friend__section .content {
    width: 100%;
    position: relative;
    height: 50px;
}

.invite__friend__section .content button {
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    background: #293A6C;
    color: white;
    position: absolute;
    right: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.invite__friend__section .content button .fas {
    padding-right: 6px;
}

#user__profile__section .user__profile__pic .card {
    width: 300px;
    padding: 10px;
}
#user__profile__section .user__profile__pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.remaining_chances_to_win {
    background: #293A6C;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

/*.play_buy_chance_btns a {
    position: absolute;
    right: 20px;
    top: 10px;
}*/

.play_buy_chance_btns {
    background: #293A6C;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: white;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.play_buy_chance_btns a button {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FBE252;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
}

.buy_winning_chances {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #F7F7F7;
    padding: 30px 30px 30px 30px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.buy_winning_chances form {
    position: relative;
}

.buy_winning_chances input[type='submit'] {
    cursor: pointer;
    margin-top: 20px;
    background: #293A6C;
    color: white;
}

/* order section*/
.order_item {
    position: relative;
}
.order_item .order_item_price {
    position: absolute;
    right: 10%;
}


/* user wallet */
.credit__wallet {
    margin-top: 10px;
}


.point__wallet h5 {
    color: #293A6C;
}

.credit__wallet h5 {
    color: #293A6C;
}

.point__wallet .convert_to_credit_btn button {
    outline: none;
    border: none;
    background: #293A6C;
    color: white;
    border-radius: 5px;
    height: 32px;
    cursor: pointer;
}

















