{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Provide infor</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"  {% endif %}>
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-30"></div>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
                <form method="POST" action="{% url 'frontGiveEmailResetPassword' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">What is your email and username?</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" name="email" placeholder="Email Address" required>
                            </div>

                            <div class="col-md-6 col-12 mb-20">
                                <label>Username*</label>
                                <input class="mb-0" type="text" name="username" placeholder="Username" required>
                            </div>

                            <div class="col-12 mb-20">
                                <label>Select user role</label>
                                <select name="user_role" id="" class="form-control mb-0" required>
                                    <option value="b_r" selected>Buyer</option>
                                    <option value="s_r">Seller</option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="register-button mt-0" style="cursor: pointer;">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
             <div class="col-lg-3 mb-30"></div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->
{% endblock %}