{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3"></div>

        <div class="col-md-6 col-sm-6">
            <div class="verification_success_box">
                <div class="verification_success__content text-center">
                    <div class="icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <h1>Welcome! You're all set</h1>
                    <p>
                        Your account has been verified successfully! You got <strong>1000 reward points</strong> as bonus!
                    </p>
                    <a href="/fe/login/register">
                        <button type="button">
                            My Profile
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3"></div>
    </div>
</div>
{% endblock %}