{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}


{% block dataTable_css %}
<!-- DataTables -->
<link rel="stylesheet"
      href="{% static 'backEnd/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block main_block %}
<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}

            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add about us</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apAboutUs' %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="about_us">Add about us</label>
                            <textarea name="about_us" class="form-control" id="about_us" rows="7" placeholder="About us"></textarea>
                            <script>
                                 CKEDITOR.replace('about_us');//name of textarea field
                            </script>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<!--data tables*******************************************-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">About us</th>
                                    <th class="text-center">Created</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if about_us %}
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">{{about_us.about_us|striptags}}</td>
                                    <td class="text-center">{{about_us.created}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'apEditAboutUs' pk=about_us.pk %}">
                                            <button type="button" style="border:none; background: #00C0EF;color:white;">
                                                <i class="fas fa-edit"></i> Update</button>
                                        </a>
                                        <a href="{% url 'apDelAboutUs' pk=about_us.pk %}">
                                            <button type="button" style="border:none; background: #FF0000;color:white;">
                                                <i class="fas fa-backspace"></i> Remove
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block datatable_js %}
<!-- DataTables -->
<script src="{% static 'backEnd/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backEnd/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })



</script>
{% endblock %}