{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}

{% block main_block %}
<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}

            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add about us</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apEditAboutUs' obj_pk %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="about_us">Edit about us</label>
                            <textarea name="about_us" class="form-control" id="about_us" rows="7" placeholder="About us">{{current_obj}}</textarea>
                            <script>
                                 CKEDITOR.replace('about_us');//name of textarea field
                            </script>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Update</button>

                        <a href="{% url 'apAboutUs' %}">
                            <button type="button" class="btn btn-primary" style="border:none; background: #FF0000;color:white;">Cancel</button>
                        </a>
                    </div>

                </form>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>



{% endblock %}

