{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"
                 {% endif %}>
                <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


<!-- ads -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
        </div>
        <div class="col-md-6">
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
        </div>
    </div>
</div>
<!-- ads ends here-->

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="buy_winning_chances">
            <h4 style="margin-bottom: 20px;">It will charge $0.5 usd for every two credits*</h4>
            {% if usr_available_points.available %}
            <h6>Available spin points: <strong style="color: #293A6C;">{{usr_available_points.available}}.00</strong></h6>
            {% endif %}

            {% if user_available_credits.available %}
            <h6>Available spin credits: <strong style="color: #293A6C;">{{user_available_credits.available}}</strong></h6>
            {% endif %}

            <form action="{% url 'frontBuyCreditPoint' username=username %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label for="credit_amount" class="form-label">Spin credit amount</label>
                        <input type="number" min="1" step="1" name="credit__point__amount" placeholder="Credit point amount" onkeydown="if(event.key==='.'){event.preventDefault();}" class="form-control credit__amount" id="credit_amount" required />
                    </div>
                    <div class="col-md-6">
                        <label for="amount_to_be_charged" class="form-label">Amount to be charged</label>
                        <input type="number" class="form-control amount_to__be_charged" name="amount_to_be_charged" placeholder="00.00" id="amount_to_be_charged" readonly required/>
                    </div>

                    <div class="col-md-6">
                        <input type="submit" value="Proceed to buy" class="form-control" placeholder="" id="" />
                    </div>
                </div>
            </form>
            <br><br>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <div style="height: 120px;">
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>
    </div>
</div>


<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner pt-20 pt-sm-30">
                <div class="container">
                    <div class="row">
                        <!-- Begin Single Banner Area -->
                        <div class="col-lg-4 col-md-4 text-center">
                            <div class="single-banner pb-xs-30">
                                <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'frontEnd/images/banner/1_3.jpg' %}" alt="Li's Static Banner">-->
<!--                                </a>-->
                            </div>
                        </div>
                        <!-- Single Banner Area End Here -->
                        <!-- Begin Single Banner Area -->
                        <div class="col-lg-4 col-md-4 text-center">
                            <div class="single-banner pb-xs-30">
                                <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'frontEnd/images/banner/1_4.jpg' %}" alt="Li's Static Banner">-->
<!--                                </a>-->
                            </div>
                        </div>
                        <!-- Single Banner Area End Here -->
                        <!-- Begin Single Banner Area -->
                        <div class="col-lg-4 col-md-4 text-center">
                            <div class="single-banner">
                                <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
<!--                                <a href="#">-->
<!--                                    <img src="{% static 'frontEnd/images/banner/1_5.jpg' %}" alt="Li's Static Banner">-->
<!--                                </a>-->
                            </div>
                        </div>
                        <!-- Single Banner Area End Here -->
                    </div>
                </div>
            </div>
<!-- Li's Static Banner Area End Here -->


<br><br>


<div class="container">
    <div class="row">
        <div class="col-md">
            <!--            eva landing slider responsive 01-->
            <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
            <!--            eva landing slider responsive 01 ends-->
        </div>

        <div class="col-md">
            <div>
                    <h5>Click to this reCaptcha and get 50 points bonus!</h5>
                    <form action="{% url 'frontPurchaseCreditCheckBoxCaptchaBonus' %}" method="POST" enctype="multipart/form-data" id="captcha__form_buy_credit">
                        {% csrf_token %}
                        <div id="html_element_buy_credit"></div>
                        <br>
<!--                        <input type="submit" value="Collect">-->
                        <button type="submit" class="captcha_submit__btn"><img src="{% static 'frontEnd/images/logo/logo.jpeg' %}" alt=""> &nbsp; Click to Collect</button>
                    </form>
                </div>
        </div>

        <div class="col-md">
            <!--            eva landing slider responsive 01-->
            <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
            <!--            eva landing slider responsive 01-->
        </div>
        <div class="col-md">
            <!--            eva landing slider responsive 01-->
            <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
            <!--            eva landing slider responsive 01-->
        </div>
    </div>
</div>


<!-- yllx 120x60 starts here -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div>
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <div id="container-ec5611cf27ddd923a905f8d14e217991"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>

    </div>
</div>
<!-- yllx 120x60 ends here -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
                                    <div>
                                        <script type="text/javascript">
                                            atOptions = {
                                                'key' : '8641aba4c7f1250ff3a115fcbcb8a5d6',
                                                'format' : 'iframe',
                                                'height' : 60,
                                                'width' : 468,
                                                'params' : {}
                                            };
                                            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformats.com/8641aba4c7f1250ff3a115fcbcb8a5d6/invoke.js"></scr' + 'ipt>');
                                        </script>
                                    </div>
                                </div>

        <div class="col-md-6">
                                    <div>
                                        <script type="text/javascript">
                                            atOptions = {
                                                'key' : '8641aba4c7f1250ff3a115fcbcb8a5d6',
                                                'format' : 'iframe',
                                                'height' : 60,
                                                'width' : 468,
                                                'params' : {}
                                            };
                                            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformats.com/8641aba4c7f1250ff3a115fcbcb8a5d6/invoke.js"></scr' + 'ipt>');
                                        </script>
                                    </div>
                                </div>
    </div>
</div>



<!-- ads section ends -->


<!-- adster 1x1 native ads-->
<script async="async" data-cfasync="false" src="//pl17231266.safestgatetocontent.com/ec5611cf27ddd923a905f8d14e217991/invoke.js"></script>
<!-- adster 1x1 native ads ends-->


<script type="text/javascript">

// captcha-1
      var onloadCallback = function() {


        grecaptcha.render('html_element_buy_credit', {
          'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        });
      };


      var captcha__form_buy_credit = document.getElementById('captcha__form_buy_credit');
        captcha__form_buy_credit.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        // ends captcha-1

</script>
{% endblock %}

{% block buy_credit_js %}
<script src="{% static 'frontEnd/js/buy_credit.js' %}"></script>
{% endblock %}