{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3">
                <!--Category Menu Start-->
                <div class="category-menu category-menu-2">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>categories</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            {% if product_cat_list %}

                            {% for cat in product_cat_list %}



                            <li><a href="/fe/shop/{{cat.pk}}">{{cat.name}}</a></li>
                            {% endfor %}

                            {% endif %}
                            <li class="rx-parent">
                                <a class="rx-default">More Categories</a>
                                <a class="rx-show">Less Categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-6 col-md-8">
                <div class="slider-area slider-area-3 pt-sm-30 pt-xs-30 pb-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        <div
                                class="single-slide align-center-left animation-style-01 bg-7"
                        >
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                                <h2>Chamcham Galaxy S9 | S9+</h2>
                                <h3>Starting at <span>$589.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html"
                                    >Shopping Now</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div
                                class="single-slide align-center-left animation-style-02 bg-8"
                        >
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                                <h2>Work Desk Surface Studio 2018</h2>
                                <h3>Starting at <span>$1599.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html"
                                    >Shopping Now</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                        <!-- Begin Single Slide Area -->
                        <div
                                class="single-slide align-center-left animation-style-01 bg-9"
                        >
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                                <h2>Phantom 4 Pro+ Obsidian</h2>
                                <h3>Starting at <span>$809.00</span></h3>
                                <div class="default-btn slide-btn">
                                    <a class="links" href="shop-left-sidebar.html"
                                    >Shopping Now</a
                                    >
                                </div>
                            </div>
                        </div>
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->
            <!-- Begin Li Banner Area -->
            <div class="col-lg-3 col-md-4 text-center pt-sm-30">

                <div class="li-banner home__paid_ads_sldr1">

                    <div class="swiper mySwiper container">
                        <div class="swiper-wrapper content">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_1.jpg' %}" class="swiper__img"
                                         alt=""/>
                                </a>
                                <!-- <h6>Watch & Earn</h6> -->
                            </div>

                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_2.jpg' %}" alt=""/>
                                </a>
                                <!-- <h6>Watch & Earn</h6> -->
                            </div>

                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_1.jpg' %}" alt=""/>
                                </a>
                                <!-- <h6>Watch & Earn</h6> -->
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-nextt">
                  <span>
                    <i class="fas fa-chevron-right"></i>
                  </span>
                    </div>
                    <div class="swiper-button-prevv">
                  <span>
                    <i class="fas fa-chevron-left"></i>
                  </span>
                    </div>

                </div>

                <div class="li-banner mt-15 mt-sm-30 mt-xs-25 mb-xs-5 home__paid_ads_sldr2">

                    <div class="swiper adsVidSwiper2 container">
                        <div class="swiper-wrapper content">
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_1.jpg' %}" alt=""/>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_2.jpg' %}" alt=""/>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_1.jpg' %}" alt=""/>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-nexttt">
                  <span>
                    <i class="fas fa-chevron-right"></i>
                  </span>
                    </div>
                    <div class="swiper-button-prevvv">
                  <span>
                    <i class="fas fa-chevron-left"></i>
                  </span>
                    </div>

                </div>

            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Category Menu Area End Here -->

<!-- play game section -->
<section id="play_gaming_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/fe/game">
                    <button><strong>Play Game</strong> to Earn Point & Attractive Prizes!</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ends play game section -->

<!-- top  brands section starts -->
<section id="top__brands__section">
    <div class="container">
        <div class="li-section-title">
            <h2>
                <span>Top Brands</span>
            </h2>
        </div>
        <div class="row mt-10">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme top__brands__slider">
                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Hotels.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Hotels</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Restaurant.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Restaurant</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Games.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Games</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Shopping.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Shopping</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Villas.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Villas</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Camping.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Camping</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Spa _ Salons.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Spa & Salons</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Travel.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Travel</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Health.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Health</h6>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/fe/product/details">
                            <div class="card">
                                <img
                                        src="{% static 'frontEnd/icons/icon_categories/Services.svg' %}"
                                        class="card-img-top"
                                        alt="..."
                                />
                                <div class="card-body mt-2">
                                    <h6 class="card-title text-center">Services</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top  brands section ends -->

<!-- Begin Li's Laptop Product Area -->
{% if product_cat_list %}
{% for x in product_cat_list %}
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>{{x.name}}</span>
                    </h2>
                    <ul class="li-sub-category-list">
                        <li class="active">
                            <a href="shop-left-sidebar.html">Prime Video</a>
                        </li>
                        <li><a href="shop-left-sidebar.html">Computers</a></li>
                        <li><a href="shop-left-sidebar.html">Electronics</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {% if product_list %}
                        {% for y in product_list %}

                        {% if y.cat_name == x.name or y.category.name == x.name %}

                        {% if y.product_type == 'wsp' %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="/fe/product/details/{{y.product_id}}">
                                        {% if y.product_thumbnail %}
                                        <img src="{{y.product_thumbnail.url}}" style="height: 250px; width: 100%;" alt="Li's Product Image"
                                        />
                                        {% else %}
                                            {% if y.productImg %}
                                                {% for img in y.productImg.all %}

                                                {% if forloop.counter == 1 %}
                                                    {% if img.img %}
                                                    <img src="{{img.img.url}}" style="height: 250px; width: 100%;" alt="Li's Product Image"/>
                                                    {% else %}
                                                    <img src="{{img.img_link}}" style="height: 250px; width: 100%;" alt="Li's Product Image"/>
                                                    {% endif %}
                                                {% endif %}

                                                {% endfor %}
                                            {% else %}
                                            <img src="" alt="Li's Product Image"/>
                                            {% endif %}
                                        {% endif %}
                                    </a>

<!--                                    <span class="sticker">New</span>-->
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="shop-left-sidebar.html"
                                                >{{y.brand_name}}</a
                                                >
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star">
                                                        <i class="fa fa-star-o"></i>
                                                    </li>
                                                    <li class="no-star">
                                                        <i class="fa fa-star-o"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4>
                                            <a class="product_name" href="/fe/product/details/{{y.product_id}}">{{y.title|safe|truncatechars:30}}</a
                                            >
                                        </h4>
                                        <div class="price-box">
                                            <span class="new-price">${{y.price}}</span>
                                            {% if y.regular_price %}
                                            <span class="old-price">${{y.regular_price}}</span>
                                            {% endif %}
<!--                                            <span class="discount-percentage">-7%</span>-->
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active">
                                                <a href="{% url 'frontAddToCart' product_id=y.product_id %}">Add to
                                                    cart</a>
                                            </li>
                                            <li>
                                                <a
                                                        class="links-details"
                                                        href="{% url 'frontAddToWishlist' product_id=y.product_id %}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Add to wishlist"
                                                ><i class="fas fa-heart"></i></a>
                                            </li>
<!--                                            <li>-->
<!--                                                <a-->
<!--                                                        class="quick-view"-->
<!--                                                        data-toggle="modal"-->
<!--                                                        data-target="#product_toggle_{{y.product_id}}"-->
<!--                                                        href="#" data-toggle="tooltip" data-placement="bottom"-->
<!--                                                        title="Add to compare"-->
<!--                                                ><i class="fas fa-list"></i></a>-->
<!--                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        {% else %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="/fe/product/details/{{y.product_id}}">
                                        <img src="{{y.product_thumbnail.url}}"
                                             alt="Li's Product Image"
                                        />
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="shop-left-sidebar.html"
                                                >{{y.brand_name}}</a
                                                >
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star">
                                                        <i class="fa fa-star-o"></i>
                                                    </li>
                                                    <li class="no-star">
                                                        <i class="fa fa-star-o"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4>
                                            <a class="product_name" href="/fe/product/details/{{y.product_id}}">{{y.title|safe|truncatechars:30}}</a
                                            >
                                        </h4>
                                        <div class="price-box">
                                            <span class="new-price">${{y.new_price}}</span>
                                            {% if y.old_price %}
                                            <span class="old-price">${{y.old_price}}</span>
                                            {% endif %}
<!--                                            <span class="discount-percentage">-7%</span>-->
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active">
                                                <a href="{% url 'frontAddToCart' product_id=y.product_id %}">Add to
                                                    cart</a>
                                            </li>
                                            <li>
                                                <a
                                                        class="links-details"
                                                        href="{% url 'frontAddToWishlist' product_id=y.product_id %}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Add to wishlist"
                                                ><i class="fas fa-heart"></i></a>
                                            </li>
                                            <li>
                                                <a
                                                        class="quick-view"
                                                        data-toggle="modal"
                                                        data-target="#product_toggle_{{y.product_id}}"
                                                        href="#" data-toggle="tooltip" data-placement="bottom"
                                                        title="Quick view"
                                                ><i class="fa fa-eye"></i
                                                ></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        {% endif %}

                        {% endif %}

                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
{% endfor %}
{% endif %}
<!-- Li's Laptop Product Area End Here -->



<!-- ads section starts -->

<section id="ads_rev_section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Paid ads</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Paid ads</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Paid ads</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Paid ads</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<br>

<!-- ads section ends -->
{% endblock %}