{% extends 'frontEnd/index.html' %}
{% load static %}
{% load tag_library %}

{% block main_block %}

<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <div class="col-lg-3">
                <!--Category Menu Start-->
                <div class="category-menu category-menu-2">
                    <div class="category-heading">
                        <h2 class="categories-toggle"><span>categories</span></h2>
                    </div>
                    <div id="cate-toggle" class="category-menu-list">
                        <ul>
                            {% if product_cat_list %}

                            {% for cat in product_cat_list %}

                            {% if cat.name in cats_in_subcats %}
                            {% if forloop.counter > 8 %}
                            <li class="right-menu rx-child">
                                <a href="{% url 'frontShop' pk=cat.pk %}">{{cat.name}}</a>
                                <ul class="cat-mega-menu">
                                    <li class="right-menu cat-mega-title">
                                        <!--                                        <a href="shop-left-sidebar.html">Prime Video</a>-->
                                        <ul>
                                            <!--                                            <li><a href="#">All Videos</a></li>-->
                                            {% for subcat in product_subcats %}
                                            {% if subcat.category.name == cat.name %}
                                            <li><a href="#">{{subcat.name}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="right-menu">
                                <a href="{% url 'frontShop' pk=cat.pk %}">{{cat.name}}</a>
                                <ul class="cat-mega-menu">
                                    <li class="right-menu cat-mega-title">
                                        <!--                                        <a href="shop-left-sidebar.html">Prime Video</a>-->
                                        <ul>
                                            <!--                                            <li><a href="#">All Videos</a></li>-->
                                            {% for subcat in product_subcats %}
                                            {% if subcat.category.name == cat.name %}
                                            <li><a href="#">{{subcat.name}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% else %}
                            {% if forloop.counter > 8 %}
                            <li class="rx-child"><a href="{% url 'frontShop' pk=cat.pk %}">{{cat.name}}</a></li>
                            {% else %}
                            <li><a href="{% url 'frontShop' pk=cat.pk %}">{{cat.name}}</a></li>
                            {% endif %}
                            {% endif %}
                            {% endfor %}

                            {% endif %}
                            <li class="rx-parent">
                                <a class="rx-default">More Categories</a>
                                <a class="rx-show">Less Categories</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--Category Menu End-->
            </div>
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            <div class="col-lg-6 col-md-8">
                <div class="slider-area slider-area-3 pt-sm-30 pt-xs-30 pb-xs-30">
                    <div class="slider-active owl-carousel">
                        <!-- Begin Single Slide Area -->
                        {% if main_banner_or_slider %}
                        {% for banner in main_banner_or_slider %}
                        <div class="single-slide align-center-left animation-style-01 bg-7"
                             style="background-image: url('{{banner.img.url}}');">
                            <div class="slider-progress"></div>
                            <div class="slider-content">
                                <h5>{% if banner.offer_title %}{{banner.offer_title}}{% endif %} <span>{% if banner.offer_amount_or_title %}-{{banner.offer_amount_or_title}}{% endif %}</span>
                                    {% if banner.offer_duration %}{{banner.offer_duration}}{% endif %}</h5>

                                {% if banner.product_title %}
                                <h2>{{banner.product_title}}</h2>
                                {% endif %}

                                {% if banner.starting_price %}
                                <h3>Starting at <span>${{banner.starting_price|to_float}}</span></h3>
                                {% endif %}

                                {% if banner.product_url %}
                                <div class="default-btn slide-btn">
                                    <a class="links" href="{{banner.product_url}}">Shopping Now</a
                                    >
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <!-- Single Slide Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider Area End Here -->

            <!-- Begin Li Banner Area -->
            <div class="col-lg-3 col-md-4 text-center pt-sm-30">
                <h1 class="checking__child_node"></h1>
                <div class="li-banner home__paid_ads_sldr1">

                    <div class="swiper mySwiper container">
                        <div class="swiper-wrapper content">
<!--                            <div class="swiper-slide" id="swiper__slider__content1">-->
<!--                                <script async-->
<!--                                        src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--                            </div>-->

                            {% if home_pg_mini_top_slidr %}
                            {% for x in home_pg_mini_top_slidr %}
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{{x.img.url}}" alt=""/>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_2.jpg' %}" alt=""/>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="swiper-button-nextt">
                  <span>
                    <i class="fas fa-chevron-right"></i>
                  </span>
                    </div>
                    <div class="swiper-button-prevv">
                  <span>
                    <i class="fas fa-chevron-left"></i>
                  </span>
                    </div>

                </div>

                <div class="li-banner mt-15 mt-sm-30 mt-xs-25 mb-xs-5 home__paid_ads_sldr2">

                    <div class="swiper adsVidSwiper2 container">
                        <div class="swiper-wrapper content">
<!--                            <div class="swiper-slide" id="swiper__slider__content2">-->
<!--                                <script async-->
<!--                                        src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--                            </div>-->
                            {% if home_pg_bottom_slidr %}
                            {% for x in home_pg_bottom_slidr %}
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{{x.img.url}}" alt=""/>
                                </a>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="{% static 'frontEnd/images/banner/3_2.jpg' %}" alt=""/>
                                </a>
                            </div>
                            {% endif %}

                        </div>
                    </div>

                    <div class="swiper-button-nexttt">
                  <span>
                    <i class="fas fa-chevron-right"></i>
                  </span>
                    </div>
                    <div class="swiper-button-prevvv">
                  <span>
                    <i class="fas fa-chevron-left"></i>
                  </span>
                    </div>

                </div>

            </div>
            <!-- Li Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Category Menu Area End Here -->

<!-- disclaimer pop up ***********************************************-->
{% if ip_exist is None %}
<div class="disclaimer__root__box" style="display: none;">
    <div class="disclaimer__content__box">
        <div class="disclaimer__content">
            <div class="title">
                <h5>Terms & Conditions</h5>
            </div>
            <div class="content">
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                    their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                </p>
            </div>
            <div class="disclaimer__footer">
                <button type="button" id="1" class="i__agree" onclick="hideDisclaimerRootBox(this);">I agree</button>

                <button type="button" id="2" class="i__disagree" onclick="hideDisclaimerRootBox(this)">I disagree
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- disclaimer pop up ends***********************************************-->


<!--static banner section starts-->
<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner pt-20 pt-sm-30">
    <div class="container">
<!--        <div class="row">-->
<!--            &lt;!&ndash; Begin Single Banner Area &ndash;&gt;-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="single-banner pb-xs-30">-->
<!--                    <script async-->
<!--                            src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--                    &lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <img src="{% static 'frontEnd/images/banner/1_3.jpg' %}" alt="Li's Static Banner">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Banner Area End Here &ndash;&gt;-->
<!--            &lt;!&ndash; Begin Single Banner Area &ndash;&gt;-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="single-banner pb-xs-30">-->
<!--                    <script async-->
<!--                            src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--                    &lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <img src="{% static 'frontEnd/images/banner/1_4.jpg' %}" alt="Li's Static Banner">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Banner Area End Here &ndash;&gt;-->
<!--            &lt;!&ndash; Begin Single Banner Area &ndash;&gt;-->
<!--            <div class="col-lg-4 col-md-4 text-center">-->
<!--                <div class="single-banner">-->
<!--                    <script async-->
<!--                            src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--                    &lt;!&ndash;                                <a href="#">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                    <img src="{% static 'frontEnd/images/banner/1_5.jpg' %}" alt="Li's Static Banner">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                </a>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Single Banner Area End Here &ndash;&gt;-->
<!--        </div>-->
            <div class="row" style="margin-top: 40px;">
                <div class="col-md-6">
                            <!--yllx 468x60 starts &*************************************-->
                            <script type="text/javascript"
                                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
                            <!--yllx ends here **********************************-->
                        </div>
                <div class="col-md-6">
                            <!--yllx 468x60 starts &*************************************-->
                            <script type="text/javascript"
                                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
                            <!--yllx ends here **********************************-->
                        </div>
            </div>
    </div>
</div>
<!--static banner section  ends-->

<!-- play game section -->
<section id="play_gaming_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/fe/game">
                    <button><strong>Play Game</strong> to Earn Point & Attractive Prizes!</button>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ends play game section -->

<!-- top  brands section starts -->
<!--<section id="top__brands__section">-->
<!--    <div class="container">-->
<!--        <div class="li-section-title">-->
<!--            <h2>-->
<!--                <span>Top Brands</span>-->
<!--            </h2>-->
<!--        </div>-->
<!--        <div class="row mt-10">-->
<!--            <div class="col-md-12">-->
<!--                <div class="owl-carousel owl-theme top__brands__slider">-->
<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Hotels.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Hotels</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Restaurant.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Restaurant</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Games.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Games</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Shopping.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Shopping</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Villas.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Villas</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Camping.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Camping</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Spa _ Salons.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Spa & Salons</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Travel.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Travel</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Health.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Health</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="item">-->
<!--                        <a href="/fe/product/details">-->
<!--                            <div class="card">-->
<!--                                <img-->
<!--                                        src="{% static 'frontEnd/icons/icon_categories/Services.svg' %}"-->
<!--                                        class="card-img-top"-->
<!--                                        alt="..."-->
<!--                                />-->
<!--                                <div class="card-body mt-2">-->
<!--                                    <h6 class="card-title text-center">Services</h6>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- top  brands section ends -->
<br><br><br>
<!-- Begin Li's Laptop Product Area -->
{% if product_cat_list %}
{% for x in product_cat_list|slice:'3' %}
<section class="product-area li-laptop-product pt-60 pb-45">
    <div class="container">
        <!--        background: #293A6C; box-shadow: 1px 1px 5px 1px gray; padding-top: 20px;-->
        <div class="row" style="margin-top: -50px;">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title product_area_title_section" style="width: 100%;position: relative;">
                    <h2>
                        <span>{{x.name}}</span>
                        <a href="{% url 'frontShop' pk=x.pk %}" style="position: absolute;right: 0px;cursor: pointer;">
                            <button type="button"
                                    style="border: none;outline: none;background-color: #293A6C;cursor: pointer;font-size: 15px;padding: 10px;color: white;text-transform: uppercase;">
                                View All
                            </button>
                        </a>
                    </h2>
                    <!-- <ul class="li-sub-category-list">
                         <li class="active">
                             <a href="shop-left-sidebar.html">Prime Video</a>
                         </li>
                         <li><a href="shop-left-sidebar.html">Computers</a></li>
                         <li><a href="shop-left-sidebar.html">Electronics</a></li>
                     </ul>-->
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        {% if product_list %}
                        {% for y in product_list %}


                        {% if x.name in y.cat_name or y.category.name == x.name %}

                        {% if y.product_type == 'wsp' %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap"
                                 style="height: 370px; max-height: 370px !important; position: relative;">
                                <div class="product-image">
                                    <a href="/fe/product/details/{{y.product_id}}">
                                        {% if y.product_thumbnail %}
                                        <img src="{{y.product_thumbnail.url}}" style="width: 100%;"
                                             alt="Li's Product Image"
                                        />
                                        {% else %}
                                        {% if y.productImg %}
                                        {% for img in y.productImg.all %}

                                        {% if forloop.counter == 1 %}
                                        {% if img.img %}
                                        <img src="{{img.img.url}}" style="width: 100%;" alt="Li's Product Image"/>
                                        {% else %}
                                        <img src="{{img.img_link}}" style="width: 100%;" alt="Li's Product Image"/>
                                        {% endif %}
                                        {% endif %}

                                        {% endfor %}
                                        {% else %}
                                        <img src="" alt="Li's Product Image"/>
                                        {% endif %}
                                        {% endif %}
                                    </a>
                                    <!--                                    <span class="sticker">New</span>-->
                                </div>
                                <div class="product_desc"
                                     style="padding-left: 10px; padding-bottom: 5px; position: absolute; bottom: 5px;">
                                    <div class="product_desc_info">
<!--                                        <div class="product-review">-->
<!--                                                                                        <h5 class="manufacturer">-->
<!--                                                                                            <a href="shop-left-sidebar.html"-->
<!--                                                                                            >{{y.brand_name}}</a-->
<!--                                                                                            >-->
<!--                                                                                        </h5>-->
<!--                                            <div class="rating-box">-->
<!--                                                <ul class="rating">-->
<!--                                                    <li><i class="fa fa-star-o"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o"></i></li>-->
<!--                                                    <li class="no-star">-->
<!--                                                        <i class="fa fa-star-o"></i>-->
<!--                                                    </li>-->
<!--                                                    <li class="no-star">-->
<!--                                                        <i class="fa fa-star-o"></i>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <h4 style="text-align: justify;">
                                            <a class="product_name" href="/fe/product/details/{{y.product_id}}">{{y.title|safe|truncatechars:40}}</a
                                            >
                                        </h4>
                                        <div class="price-box">
                                            <span class="new-price">${{y.price|floatformat:2}}</span>
                                            {% if y.regular_price %}
                                            <span class="old-price">${{y.regular_price|floatformat:2}}</span>
                                            {% endif %}
                                            <!--                                            <span class="discount-percentage">-7%</span>-->
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active">
                                                <a href="{% url 'frontAddToCart' product_id=y.product_id %}">Add to
                                                    cart</a>
                                            </li>
                                            <li>
                                                <a
                                                        class="links-details"
                                                        href="{% url 'frontAddToWishlist' product_id=y.product_id %}"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        title="Add to wishlist"><i class="fas fa-heart"></i></a>
                                            </li>
                                            <!--                                            <li>-->
                                            <!--                                                <a-->
                                            <!--                                                        class="quick-view"-->
                                            <!--                                                        data-toggle="modal"-->
                                            <!--                                                        data-target="#product_toggle_{{y.product_id}}"-->
                                            <!--                                                        href="#" data-toggle="tooltip" data-placement="bottom"-->
                                            <!--                                                        title="Add to compare"-->
                                            <!--                                                ><i class="fas fa-list"></i></a>-->
                                            <!--                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        {% else %}
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap"
                                 style="height: 370px; max-height: 370px; position: relative;">
                                <div class="product-image">
                                    <a href="/fe/product/details/{{y.product_id}}">
                                        <img src="{{y.product_thumbnail.url}}"
                                             alt="Li's Product Image" style="width: 100%;"
                                        />
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <div class="product_desc"
                                     style="padding-left: 10px; padding-bottom: 5px; position: absolute; bottom: 5px;">
                                    <div class="product_desc_info">
<!--                                        <div class="product-review">-->
<!--                                            <h5 class="manufacturer">-->
<!--                                                <a href="shop-left-sidebar.html"-->
<!--                                                >{{y.brand_name}}</a-->
<!--                                                >-->
<!--                                            </h5>-->
<!--                                            <div class="rating-box">-->
<!--                                                <ul class="rating">-->
<!--                                                    <li><i class="fa fa-star-o"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o"></i></li>-->
<!--                                                    <li><i class="fa fa-star-o"></i></li>-->
<!--                                                    <li class="no-star">-->
<!--                                                        <i class="fa fa-star-o"></i>-->
<!--                                                    </li>-->
<!--                                                    <li class="no-star">-->
<!--                                                        <i class="fa fa-star-o"></i>-->
<!--                                                    </li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <h4>
                                            <a class="product_name" href="/fe/product/details/{{y.product_id}}">{{y.title|safe|truncatechars:25}}</a
                                            >
                                        </h4>
                                        <div class="price-box">
                                            <span class="new-price">${{y.new_price}}</span>
                                            {% if y.old_price %}
                                            <span class="old-price">${{y.old_price}}</span>
                                            {% endif %}
                                            <!--                                            <span class="discount-percentage">-7%</span>-->
                                        </div>
                                    </div>
                                    <div class="add-actions">
                                        <ul class="add-actions-link">
                                            <li class="add-cart active">
                                                <a href="{% url 'frontAddToCart' product_id=y.product_id %}">Add to
                                                    cart</a>
                                            </li>
                                            <li>
                                                <a class="links-details"
                                                   href="{% url 'frontAddToWishlist' product_id=y.product_id %}"
                                                   data-toggle="tooltip" data-placement="bottom"
                                                   title="Add to wishlist"><i class="fas fa-heart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                        {% endif %}

                        {% endif %}

                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
{% endfor %}
{% endif %}
<!-- Li's Laptop Product Area End Here -->


<br>
<!-- section for captcha -->
<section id="captcha__section">
    <div class="container">
        <div class="row">
<!--            <div class="col-md-5">-->
<!--                <script async-->
<!--                    src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--            </div>-->
            <div class="col-md-3">
                <div>
                    <h5>Click to this reCaptcha and get 50 points bonus!</h5>
                    <form action="{% url 'frontCheckBoxCaptchaBonus' %}" method="POST" enctype="multipart/form-data" id="captcha__form">
                        {% csrf_token %}
                        <div id="html_element"></div>
                        <br>
<!--                        <input type="submit" value="Collect">-->
                        <button type="submit" class="captcha_submit__btn"><img src="{% static 'frontEnd/images/logo/logo.jpeg' %}" alt=""> &nbsp; Click to Collect</button>
                    </form>
                </div>
            </div>
<!--            <div class="col-md-4">-->
<!--                <script async-->
<!--                    src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>-->
<!--            </div>-->
            </div>
        </div>
    </div>
</section>
<!-- section for captcha ends -->


<!--&lt;!&ndash; ads section starts &ndash;&gt;-->

<!--<section id="ads_rev_section">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md">-->
<!--                <div class="card" style="">-->
<!--                    <script async src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjIsInNyYyI6Mn0=eyJ.js"></script>-->
<!--&lt;!&ndash;                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h5 class="card-title">Paid ads</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of&ndash;&gt;-->
<!--&lt;!&ndash;                            the card's content.</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="#" class="btn btn-primary">Go somewhere</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Paid ads</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Paid ads</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md">-->
<!--                <div class="card" style="width: 18rem;">-->
<!--                    <img src="{% static 'frontEnd/images/featured-product/1.jpg' %}" alt="">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Paid ads</h5>-->
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<br>-->

<!-- Begin Li's Static Banner Area -->
<div class="li-static-banner pt-20 pt-sm-30">
    <div class="container">
        <div class="row">
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner pb-xs-30">
                    <script async
                            src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
                    <!--                                <a href="#">-->
                    <!--                                    <img src="{% static 'frontEnd/images/banner/1_3.jpg' %}" alt="Li's Static Banner">-->
                    <!--                                </a>-->
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner pb-xs-30">
                    <script async
                            src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
                    <!--                                <a href="#">-->
                    <!--                                    <img src="{% static 'frontEnd/images/banner/1_4.jpg' %}" alt="Li's Static Banner">-->
                    <!--                                </a>-->
                </div>
            </div>
            <!-- Single Banner Area End Here -->
            <!-- Begin Single Banner Area -->
            <div class="col-lg-4 col-md-4 text-center">
                <div class="single-banner">
                    <script async
                            src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
                    <!--                                <a href="#">-->
                    <!--                                    <img src="{% static 'frontEnd/images/banner/1_5.jpg' %}" alt="Li's Static Banner">-->
                    <!--                                </a>-->
                </div>
            </div>
            <!-- Single Banner Area End Here -->
        </div>
    </div>
</div>
<!-- Li's Static Banner Area End Here -->
<br><br>


<div class="container">
    <div class="row">
        <div class="col-md">
            <script async
                    src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
        </div>

        <div class="col-md">
            <script async
                    src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
        </div>

        <div class="col-md">
            <script async
                    src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
        </div>
        <div class="col-md">
            <script async
                    src="https://dvypar.com/na/waWQiOjExMjE0NjQsInNpZCI6MTEzOTQyMiwid2lkIjozMzQ0NjEsInNyYyI6Mn0=eyJ.js"></script>
        </div>
    </div>
</div>





<!-- ads section ends -->

<!-- adster native 1x1 starts-->
<script async="async" data-cfasync="false"
        src="//pl17231266.safestgatetocontent.com/ec5611cf27ddd923a905f8d14e217991/invoke.js"></script>
<!-- adster native 1x1 ends-->



<!-- invisible recaptcha -->
<script>
        var onSubmit = function(token) {
          if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
        };

        var onloadCallbackInvisible = function() {
          grecaptcha.render('submit', {
            'sitekey' : '6Ld0fLQfAAAAALBncG4Vorj9xiSsR4t_1NMWkbDB',
            'callback' : onSubmit
          });
        };
    </script>
<!-- ends invisible re-captcha-->

<!-- google adsense ends -->

<script type="text/javascript">

// captcha-1
      var onloadCallback = function() {

        //var widgetId1;
        //var widgetId2;
        //widgetId1 = grecaptcha.render('html_element1', {
          //'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        //});

        //widgetId2 = grecaptcha.render('html_element2', {
          //'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        //});


        grecaptcha.render('html_element', {
          'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        });
      };


      var captcha__form = document.getElementById('captcha__form');
        captcha__form.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        var captcha__form1 = document.getElementById('captcha__form1');
        captcha__form1.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        var captcha__form2 = document.getElementById('captcha__form2');
        captcha__form2.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);



        // ends captcha-1



</script>

<!--<div class="row" style="margin-top: 40px;">-->
<!--            <div class="col-md-3">-->
<!--                <div>-->
<!--                    <h5>Give us feedback & get 20 points bonus!</h5>-->
<!--                    <form action="{% url 'frontInvisibleCaptchaBonus' %}" method="POST" enctype="multipart/form-data">-->
<!--                        {% csrf_token %}-->
<!--                     <div class="form-group">-->
<!--                        <label for="exampleFormControlSelect1">What was your experience?</label>-->
<!--                        <select class="form-control" name="invisible_captcha" id="exampleFormControlSelect1">-->
<!--                          <option value="g">Good</option>-->
<!--                          <option value="b">Better</option>-->
<!--                          <option value="a">Awesome</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                  <input id='submit' type="submit" value="Submit">-->
<!--                </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!-- new Gsense ads script-->
<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6181662658837679"-->
<!--     crossorigin="anonymous"></script>-->
<!-- new Gsense ads script ends-->

{% endblock %}




