{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Register</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--<br><br>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            {% if messages %}-->
<!--            {% for message in messages %}-->

<!--            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"  {% endif %}>-->
<!--                <strong>{{ message }}!</strong>-->
<!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->

<!--            {% endfor %}-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3"></div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form action="{% url 'frontEndLoginRegister' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>First Name</label>
                                <input class="mb-0" type="text" name="fname" placeholder="First Name">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Last Name</label>
                                <input class="mb-0" type="text" name="lname" placeholder="Last Name">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Username*</label>
                                <input class="mb-0" type="text" name="username" placeholder="Username">
                            </div>

                            <div class="col-md-6 mb-20">
                                <label>Phone*</label>
                                <input class="mb-0" id="phonee" name="phone" type="tel">
                            </div>

                            <!--                            <div class="col-md-6 mb-20">-->
                            <!--                                <label>National ID No.*</label>-->
                            <!--                                <input class="mb-0" id="nid__card_no" name="nid__card_no" type="text"-->
                            <!--                                       placeholder="NID No.">-->
                            <!--                            </div>-->

                            <div class="col-md-12 mb-20">
                                <label>Select user role</label>
                                <select name="user_role" id="">
                                    <option value="b_r" selected>Shopper</option>
                                    <option value="s_r">Seller</option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Confirm Password</label>
                                <input class="mb-0" type="password" name="confirm_password"
                                       placeholder="Confirm Password">
                            </div>

                            <div class="col-12">
                                <p>
                                    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample"
                                       role="button" aria-expanded="false" style="width: 100%; background-color: #293A6C;" aria-controls="collapseExample">
                                        Check beta test terms & conditions
                                    </a>
                                </p>
                                <div class="collapse" id="collapseExample">
                                    <div class="card card-body">
                                        {{betaTestTermscondition.content|safe}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mb-3">
                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                    <input type="checkbox" name="agree_toBetaTest" id="agree_toBetaTest">
                                    <label for="agree_toBetaTest">I agree with beta test terms & condition</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="register-button mt-0" style="cursor: pointer;">Register
                                </button>
                            </div>
                        </div>
                        <p> Already have account?
                            <a href="/fe/login/user">
                                <strong>Login</strong>
                            </a>
                            here
                        </p>

                    </div>
                </form>
            </div>
            <div class="col-md-4 col-lg-3"></div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->
{% endblock %}