{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Wishlist</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->

<!-- ads -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
        </div>
        <div class="col-md-6">
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
        </div>
    </div>
</div>
<!-- ads ends here-->

<!--Wishlist Area Strat-->
<div class="wishlist-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="li-product-remove">remove</th>
                                <th class="li-product-thumbnail">images</th>
                                <th class="cart-product-name">Product</th>
                                <th class="li-product-price">Unit Price</th>
                                <th class="li-product-stock-status">Stock Status</th>
                                <th class="li-product-add-cart">add to cart</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if user_wishlist_status %}
                            {% for item in user_wishlist_status %}

                            {% if item.product.product_type == 'wsp' %}
                            <tr>
                                <td class="li-product-remove"><a href="#"><i class="fas fa-times-circle"></i></a></td>
                                {% if item.product.product_thumbnail %}
                                <td class="li-product-thumbnail"><a
                                        href="/fe/product/details/{{item.product.product_id}}"><img
                                        src="{{item.product.product_thumbnail.url}}" alt=""></a></td>
                                {% else %}
                                {% if item.product.productImg %}
                                {% for img in item.product.productImg.all %}
                                {% if forloop.counter == 1 %}
                                {% if img.img %}
                                <td class="li-product-thumbnail"><a
                                        href="/fe/product/details/{{item.product.product_id}}"><img
                                        src="{{img.img.url}}" style="width: 80px; height: 80px;" alt=""></a></td>
                                {% else %}
                                <td class="li-product-thumbnail"><a
                                        href="/fe/product/details/{{item.product.product_id}}"><img
                                        src="{{img.img_link}}" style="width: 80px; height: 80px;" alt=""></a></td>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endif %}

                                <td class="li-product-name"><a href="/fe/product/details/{{item.product.product_id}}">{{item.product.title|striptags|truncatechars:30}}</a>
                                </td>
                                <td class="li-product-price"><span class="amount">${{item.product.price}}</span></td>
                                <td class="li-product-stock-status"><span class="in-stock">in stock</span></td>
                                <td class="li-product-add-cart"><a
                                        href="{% url 'frontAddToCart' product_id=item.product.product_id %}">add to
                                    cart</a></td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="li-product-remove"><a
                                        href="{% url 'frontRemoveItemFromWishlist' username=request.user.username pk=item.pk %}"><i
                                        class="fas fa-times-circle"></i></a></td>
                                <td class="li-product-thumbnail"><a
                                        href="/fe/product/details/{{item.product.product_id}}"><img
                                        src="{{item.product.product_thumbnail.url}}" style="width: 80px; height: 80px;"
                                        alt=""></a></td>
                                <td class="li-product-name"><a href="/fe/product/details/{{item.product.product_id}}">{{item.product.title|striptags|truncatechars:30}}</a>
                                </td>
                                <td class="li-product-price"><span class="amount">${{item.product.new_price}}</span>
                                </td>
                                {% if item.product.in_stock %}
                                <td class="li-product-stock-status"><span class="in-stock">In stock</span></td>
                                {% else %}
                                <td class="li-product-stock-status"><span class="in-stock">Out of stock</span></td>
                                {% endif %}
                                <td class="li-product-add-cart"><a
                                        href="{% url 'frontAddToCart' product_id=item.product.product_id %}">add to
                                    cart</a></td>
                            </tr>
                            {% endif %}

                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Wishlist Area End-->

<div class="container">
    <div class="row">
    <div class="col-md-6">
        <div>
            <script type="text/javascript">
                                                            atOptions = {
                                                                'key' : '8641aba4c7f1250ff3a115fcbcb8a5d6',
                                                                'format' : 'iframe',
                                                                'height' : 60,
                                                                'width' : 468,
                                                                'params' : {}
                                                            };
                                                            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformats.com/8641aba4c7f1250ff3a115fcbcb8a5d6/invoke.js"></scr' + 'ipt>');

            </script>
        </div>
    </div>

    <div class="col-md-6">
        <div>
            <a href="https://yllix.com/publishers/444213" target="_blank"><img
                    src="//ylx-aff.advertica-cdn.com/pub/468x60.png"
                    style="border:none;margin:0;padding:0;vertical-align:baseline;"
                    alt="ylliX - Online Advertising Network"/></a>
        </div>
    </div>
</div>
</div>


<!--    ads start        -->
            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=17'></script>
            </div>

                    <div class="col-md">
                        <div>
                                <h5>Click to this reCaptcha and get 50 points bonus!</h5>
                                <form action="{% url 'frontWishlistCheckBoxCaptchaBonus' %}" method="POST" enctype="multipart/form-data" id="captcha__form_wishlist">
                                    {% csrf_token %}
                                    <div id="html_element_wishlist"></div>
                                    <br>
                                    <button type="submit" class="captcha_submit__btn"><img src="{% static 'frontEnd/images/logo/logo.jpeg' %}" alt=""> &nbsp; Click to Collect</button>
<!--                                    <input type="submit" value="Collect">-->
                                </form>
                            </div>
                    </div>

                    <div class="col-md-4">
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_0'></script>
            </div>
                </div>
            </div>


<br>
<section id="captcha__section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div>
<!--                            <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=15'></script>-->
                           <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
            </div>

            <div class="col-md-4">
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>

        </div>
    </div>
</section>


<!-- yllx 120x60 starts here -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div>
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <div id="container-ec5611cf27ddd923a905f8d14e217991"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>

    </div>
</div>
<!-- yllx 120x60 ends here -->



<!-- adster 1x1 native ads-->
<script async="async" data-cfasync="false" src="//pl17231266.safestgatetocontent.com/ec5611cf27ddd923a905f8d14e217991/invoke.js"></script>
<!-- adster 1x1 native ads ends-->

<script type="text/javascript">

// captcha-1
      var onloadCallback = function() {


        grecaptcha.render('html_element_wishlist', {
          'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        });
      };


      var captcha__form_wishlist = document.getElementById('captcha__form_wishlist');
        captcha__form_wishlist.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        // ends captcha-1

</script>

{% endblock %}