{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}


{% block dataTable_css %}
<!-- DataTables -->
<link rel="stylesheet"
      href="{% static 'backEnd/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block main_block %}
<div class="container-fluid" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<!--data tables*******************************************-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <h1>
                    Current Order List
                </h1>
<!--                <ol class="breadcrumb">-->

<!--                    <div style="position: relative;padding-top: 15px; padding-bottom: 15px;">-->
<!--                        <a href="/ap/add/admin/custom/product" style="position: absolute; right: 0; bottom: 15px;">-->
<!--                            <button type="button" style="width: 130px;border: none; outline: none;color: white; border-radius: 5px; padding: 5px; background:#222D32;"><i class="fas fa-plus"></i>&nbsp; Add New Product</button>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </ol>-->
            </section>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Order list</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>User Email</th>
                                    <th>Total Amount</th>
                                    <th>Payment Status</th>
                                    <th>Created</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% if current_order_list %}
                                {% for order in current_order_list %}
                                <tr>
                                    <td>{{order.order_id}}</td>
                                    <td>{{order.user.email}}</td>
                                    <td>${{order.total_amount}}</td>
                                    {% if order.payment_status %}
                                    <td>Paid</td>
                                    {% else %}
                                    <td>Not paid</td>
                                    {% endif %}

                                    <td>{{order.created}}</td>
                                    <td class="text-center">
                                        <a href="{% url 'apCurrentOrderDetails' order_id=order.order_id %}">
                                            <button type="button" style="border:none; background: #222D32;color:white;">
                                                Details</button>
                                        </a>

<!--                                         on the way modal starts-->

                                        <a href="" data-toggle="modal" data-target="#remove{{order.pk}}">
                                            <button type="button" style="border:none; background: #3C8DBC;color:white;">
                                                Set to "On the way"</button>
                                        </a>

                                         <div class="modal fade" id="remove{{order.pk}}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-left" id="exampleModalLabel">Are you confirm to set this order "<strong>{{order.order_id}}</strong>" on the way?</h5>
<!--                                                        <button type="button" class="close" data-dismiss="modal"-->
<!--                                                                aria-label="Close">-->
<!--                                                            <span aria-hidden="true">&times;</span>-->
<!--                                                        </button>-->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'apSetCrrntOrderStatusToOnTheWay' order_id=order.order_id %}">
                                                            <button type="button" class="btn btn-primary">
                                                                Confirm
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

<!--                                        set to on the way ends *************************************-->

                                        <!--<a href="">
                                            <button type="button" style="border:none; background: #00C0EF;color:white;">
                                                <i class="fas fa-edit"></i> Update</button>
                                        </a>-->

                                        <a href="" data-toggle="modal" data-target="#cancel{{order.pk}}">
                                            <button type="button" style="border:none; background: #FF0000;color:white;">
                                                <i class="fas fa-ban"></i> Cancel</button>
                                        </a>

                                        <div class="modal fade" id="cancel{{order.pk}}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-left" id="exampleModalLabel">Are you confirm to set this order "<strong>{{order.order_id}}</strong>" on the way?</h5>
<!--                                                        <button type="button" class="close" data-dismiss="modal"-->
<!--                                                                aria-label="Close">-->
<!--                                                            <span aria-hidden="true">&times;</span>-->
<!--                                                        </button>-->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'apCancelOrder' order_id=order.order_id %}">
                                                            <button type="button" class="btn btn-primary">
                                                                Confirm
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Order ID</th>
                                    <th>User Email</th>
                                    <th>Total Amount</th>
                                    <th>Payment Status</th>
                                    <th>Created</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block datatable_js %}
<!-- DataTables -->
<script src="{% static 'backEnd/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backEnd/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}