{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}
<section id="refund_policy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h4 class="mt-md-4">About<strong style="color: #293A6C;"> Spin To Win It</strong></h4>
        </div>

        <div style="padding-bottom: 20px;">
          {{about_us|safe}}
        </div>
      </div>
    </div>
  </div>
</section>


<br>
<section id="captcha__section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div>
<!--                            <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=15'></script>-->
                           <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
            </div>

            <div class="col-md-4">
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>

        </div>
    </div>
</section>


<!-- yllx 120x60 starts here -->
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div>
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <div id="container-ec5611cf27ddd923a905f8d14e217991"></div>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/120x600.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <!-- ylliex 120x60 -->
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=120x600&ga=g"></script>
                <!-- yllix 120x60 ends here -->
            </div>
        </div>

    </div>
</div>
<!-- yllx 120x60 ends here -->
{% endblock %}