.explore_package .explore_package_content .card .header {
    /*background-color: #C8892C !important;*/
    background-color: #8EBD53 !important;
    /*background-color: black !important;*/
}

.explore_package .explore_package_content .card .header .packageName {
    /*color: white;*/
     color: #293A6C;
}

.explore_package .explore_package_content .card .card-body a button{
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    text-transform: uppercase;
}

.explore_package .explore_package_content .card .card-body a .invest__now {
    background: #293A6C;
    color: white;
    height: 35px;
}

.explore_package .explore_package_content .card .card-body a .explore__details {
    background: #8EBD53;
    color: white;
    height: 35px;
}

.explore_package .explore_package_content .card .header .prev {
    font-size: 14px;
     color: #293A6C;
}

.explore_package .explore_package_content .card .header .current_price .crnt{
    font-size: 18px;
    color: white;
}

.explore_package .explore_package_content .card .header .current_price .duration{
    font-size: 12px;
     color: #293A6C;
}

/* slider starts**************** */

#top__brands__section {
    position: relative;
    margin-top: 40px;
}

.top__brands__slider .item .card {
    background-color: #FFFFFF;
    border: 1px solid #D8D8D8 !important;
    border-radius: 15px !important;
    position: relative;
}

.top__brands__slider .item img{
    position: relative;
    width: 40px;
    height: 40px;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* slider ends**************** */

/* play gaming section */

#play_gaming_section {
    position: relative;
    margin-top: 30px;
}

#play_gaming_section a {
    background-color: #F7F7F7;
}
#play_gaming_section a button {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    background-color: #293A6C;
    border: none;
    outline: none;
    color: #FFD700;
}

/* disclaimer box ****************************************/
.disclaimer__root__box {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1212121;
}

.disclaimer__content__box {
    width: 100%;
    height: 100%;
    position: relative;
}

.disclaimer__content {
    position: absolute;
    max-width: 400px;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    overflow: hidden;
}

.disclaimer__content .title {
    background: #293A6C;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
}

.disclaimer__content .content {
    padding: 15px;
    max-height: 300px;
    overflow-y: scroll;
}
.disclaimer__content .content p {
    text-align: justify;
    color: black;
}

.disclaimer__content .disclaimer__footer  {
    padding: 15px;
    text-align: center;
}

.disclaimer__content .disclaimer__footer button {
    outline: none;
    border: none;
    background: black;
    color: white;
    width: 120px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}
/* disclaimer box ends****************************************/


/* user mail verification success box**********************************/

.verification_success_box {
    /*width: 100%;*/
}

.verification_success_box .verification_success__content {
    background: white;
    box-shadow: 1px 1px 5px 0.1px gray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.verification_success_box .verification_success__content .icon {
    padding-top: 10px;
    font-size: 3vw;
    text-align: center;
    color: #4BB543;
}

.verification_success_box .verification_success__content h1 {
    font-size: 2.5vw;
    text-align: center;
}

.verification_success_box .verification_success__content p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.verification_success_box .verification_success__content a button{
    width: 130px;
    height: 35px;
    border: none;
    outline: none;
    color: white;
    background: #4BB543;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* user mail verification success box ends**********************************/




/* product detials section ******************************************/

#product-details img {
    max-width: 320px;
}

/* product detials section ends ******************************************/






