{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}


{% block dataTable_css %}
<!-- DataTables -->
<link rel="stylesheet"
      href="{% static 'backEnd/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block main_block %}


<div class="container-fluid" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>


<!--data tables*******************************************-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <h1>
                    Products from shopify store
                </h1>
                <ol class="breadcrumb">
                    <a href="/fetch-shopify-products">
                        <button type="button"
                            style="border: none; outline: none; width: 120px; height: 35px; background: #3C8DBC; border-radius: 10px;color: white;">
                        Fetch Product
                        </button>
                    </a>

<!--                                        <a href="{% url 'createOrder' %}">-->
<!--                        <button type="button"-->
<!--                            style="border: none; outline: none; width: 120px; height: 35px; background: #3C8DEC; border-radius: 10px;color: white;">-->
<!--                        Create order-->
<!--                        </button>-->
<!--                    </a>-->

<!--                    <a href="/ap/update/woocommerce/product">-->
<!--                        <button type="button"-->
<!--                            style="border: none; outline: none; width: 120px; height: 35px; background: #3C8DEC; border-radius: 10px;color: white;">-->
<!--                        Update Products-->
<!--                        </button>-->
<!--                    </a>-->
                </ol>
            </section>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
<!--                        <div class="box-header">-->
<!--                            <h3 class="box-title">Woocommerce store product list</h3>-->
<!--                        </div>-->
                        <!-- /.box-header -->
                        <div class="box-body" ">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Title</th>
                                    <th>Category Name</th>
                                    <th>Variants</th>
                                    <th>Stock Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if products %}
                                {% for x in products %}
                                <tr>
                                    <td>{{x.product_id}}</td>
                                    <td>{{x.title|truncatechars:50}}</td>
<!--                                    <td style="max-width: 250px; overflow: hidden;">{{x.details|safe|truncatechars:100}}</td>-->
                                    <td>{{x.cat_name}}</td>
                                    <td>
                                        <table class="table table-bordered" style="width: 300px;">
                                          <thead>
                                            <tr>
                                              <th>Title</th>
                                              <th>Price</th>
                                            </tr>
                                           </thead>
                                           <tbody>
                                           {% if x.productVariant %}
                                           {% for variant in x.productVariant.all %}
                                           <tr>
                                               <td>{{variant.variant_title}}</td>
                                               <td>${{variant.variant_price}}</td>
                                             </tr>
                                           {% endfor %}
                                           {% endif %}

                                          </tbody>
                                        </table>
                                    </td>
                                    <td>{{x.stock_status}}</td>
                                    <td class="text-center">
<!--                                        <a href="">-->
<!--                                            <button type="button" style="border:none; background: #222D32;color:white;">-->
<!--                                                Check details</button>-->
<!--                                        </a>-->
                                        {% if x.sponsor_status == 'yes' or x.sponsor_status == 'Yes' %}
                                        <button type="button" style="border:none; background: green;color:white;">
                                                 Sponsored</button>
                                        {% else %}
                                        <a href="{% url 'addSponsoredProduct' pk=x.pk %}">
                                            <button type="button" style="border:none; background: #00C0EF;color:white;">
                                                 Add to sponsored products</button>
                                        </a>
                                        {% endif %}

                                        <!-- modal for deleting object-->

                                        <button type="button" style="border:none; background: #FF0000;color:white;" data-toggle="modal"
                                                data-target="#remove{{x.pk}}">
                                                <i class="fas fa-backspace"></i> Remove
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="remove{{x.pk}}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-left" id="exampleModalLabel">Are you confirm to delete this?</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'removeItemFromShopifyStore' pk=x.pk %}">
                                                            <button type="button" class="btn btn-primary">
                                                                Confirm
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        modal for deleting object ends-->

                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Product ID</th>
                                    <th>Product Title</th>
                                    <th>Category Name</th>
                                    <th>Variants</th>
                                    <th>Stock Status</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block datatable_js %}
<!-- DataTables -->
<script src="{% static 'backEnd/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backEnd/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })


</script>
{% endblock %}