{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}

<!-- ads -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if row_1_col_1_ads.ads_script %}
            {{row_1_col_1_ads.ads_script}}
            {% else %}
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if row_1_col_2_ads.ads_script %}
            {{row_1_col_2_ads.ads_script}}
            {% else %}
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
            {% endif %}
        </div>
    </div>
</div>
<!-- ads ends here-->


<section id="refund_policy">
    <div class="container">
        <div class="row">
            <!-- Main Content Section -->

            <section class="container">
                <div class="guide-page-content p-lg-5 p-md-4 p-sm-3 p-2 my-5">
                    <h4 class="text-center heading-text-secondary">USERACCOUNT AND WALLET <br>MY PROFILE</h4>
                    <p class="guide-page-content-text mt-3">
                        Userpersonal contact information to be used to verify User's Ie ntity for Accounts access.
                    </p>
                    <p class="guide-page-content-text">
                       Must be accurate and some as Valid Government issue Identification to validate indentity and for claiming prizes.
                    </p>
                    <p class="guide-page-content-text">
                        Fundamental activity or misuse of the account will result in cancelation of the accounts and for feature of its inventory.
                    </p>
                    <p class="guide-page-content-text">
                        Spin Points, Spin Tokens, Spin C redits,  discounts, coupons and prizes.
                    </p>
                    <p class="guide-page-content-text">
                        Invent of cancellation the Account holder may contact <strong>info@spinit2win.com</strong>  to appeal.
                    </p>
                    <p class="guide-page-content-text">
                        Terms Subject to Change.
                    </p>
                    <p class="guide-page-content-text">
                       Profiles, accounts and contents a reissued at the discretion of <strong>Spinit2win.com</strong> and its affiliates and all rights are reserved.
                    </p>
                    <h4 class="text-center mt-3 heading-text-secondary">MY WALLET</h4>
                    <p class="guide-page-content-text mt-3">
                        View User's Balances for Spin Points, Spin Tokens, Spin credits.
                    </p>
                    <p class="guide-page-content-text">
                        Conert Spin Points to Spin Tokens.
                    </p>
                    <p class="guide-page-content-text">
                        Convert Spin Credits to Spin Tokens.
                    </p>
                    <p class="guide-page-content-text">
                        Buy Spin Points With Credit Cards.
                    </p>
                    <p class="guide-page-content-text">
                        Share Spin Points, Spin Tokens, Spin Credits to Friends (Coming Soon).
                    </p>
                    <p class="guide-page-content-text">
                        Subject to <strong>Spinit2win.com</strong> and affiliates Terms of Use.
                    </p>
                    <h4 class="text-center mt-4 heading-text-secondary">SETTINGS</h4>
                    <p class="guide-page-content-text">
                        View/ Add/ Change Contact Information - Email - Username - Password.
                    </p>
                    <p class="guide-page-content-text">
                        View/ Add/ Change Profile Picture.
                    </p>
                    <p class="guide-page-content-text">
                        View/ Add/ Change Shipping Information
                    </p>
                    <p class="guide-page-content-text">
                        View/ Add/ Change Billing Information
                    </p>
                </div>
                <div class="guide-page-content p-lg-5 p-md-4 p-sm-3 p-2 my-5">
                    <h4 class="text-center heading-text-secondary">MY PRIZES</h4>
                    <p class="guide-page-content-text mt-3">
                        View User Spin game transaction history.
                    </p>
                    <p class="guide-page-content-text">
                       View Spin game prize History.
                    </p>
                    <p class="guide-page-content-text">
                        View Spin Prize cart/ Inventory ready to shipping prizes.
                    </p>
                    <p class="guide-page-content-text">
                        User is responsible for shipping, Duties, and any cost associate with the delivery of Prizes.
                    </p>
                    <p class="guide-page-content-text">
                        Unless otherwise stated in prize details.
                    </p>
                    <p class="guide-page-content-text">
                       Prizes are processed within 24-72 hrs After shipping fee payments have been received on full.
                    </p>
                    <p class="guide-page-content-text">
                       Spin Prizes Must be shipped within 14 days from winning date.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Shipping is provided by third party shipping company. Cost and estimated delivery time varies based on location.
                    </p>
                    <p class="guide-page-content-text">
                        Shipping Multiple Spin Prizes at the same time saves on shipping cost.
                    </p>
                    <p class="guide-page-content-text">
                        Spin Prizes are held for 30 days in Spin Prize Cart Inventory, Storage fees apply after 14 days.
                    </p>
                    <p class="guide-page-content-text">
                        If prizes are not shipped within 30 days from date Won, Spin Prizes will be converted to Spin Points minus applicable.
                    </p>
                    <p class="guide-page-content-text">
                        Fees and deposited into User account. Once prizes have been cenverted to Spin points the prize item are no longer available.
                    </p>
                    <p class="guide-page-content-text">
                        Spin Prizes cannot be refunded or traded for Cash as they are promotional products.
                    </p>
                    <p class="guide-page-content-text">
                        Subject to <strong>Spinit2win.com</strong> and affiliates Terms of Use.
                    </p>
                    <h4 class="text-center my-3 heading-text-secondary">MY ORDERS</h4>
                    <p class="guide-page-content-text">
                        -Orders are processed within 24-72 hrs after payment received in full.
                    </p>
                    <p class="guide-page-content-text">
                        -View Order History.
                    </p>
                    <p class="guide-page-content-text">
                        -Check Orders Details - Update order details before processing.
                    </p>
                    <p class="guide-page-content-text">
                        -Check status of orders.
                    </p>
                    <p class="guide-page-content-text">
                        -Order Payment processing.
                    </p>
                    <p class="guide-page-content-text">
                        -Subject to <strong>Spinit2win.com</strong> and affiliates Terms of Use.
                    </p>
                </div>

                <div class="my-5 mx-auto text-center my-2">
                    <h4>Click to this reCaptcha and get 50 points bonus!</h4>
                    <div class="d-flex justify-content-center ">
                        <div class="g-recaptcha " id="rcaptcha"  data-sitekey="site key"></div>
                    <span id="captcha"  style="color:red"></span>
                    </div>
                    <button class="btn my-3"><img src="images/menu/logo/1.jpg" height="20" alt="" srcset="">Click to Collect</button>
                </div>



            </section>

            <!-- End Main Content Section -->
        </div>
    </div>


<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <div class="title">-->
<!--                    <h4 class="mt-md-4">How <strong>"Spinit2Win"</strong> Works?</h4>-->
<!--                </div>-->

<!--                <div style="padding-bottom: 20px;">-->
<!--                    {{how_spin_it_win_works.content|safe}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if row_2_col_1_ads.ads_script %}
            {{row_2_col_1_ads.ads_script}}
            {% else %}
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=17'></script>
            {% endif %}
            </div>
        <div class="col-md-4">
            <div>
                <h5>Click to this reCaptcha and get 50 points bonus!</h5>
                <form action="{% url 'frontGamePageCheckBoxCaptchaBonus' %}" method="POST" enctype="multipart/form-data"
                      id="captcha__form_game">
                    {% csrf_token %}
                    <div id="html_element_game"></div>
                    <br>
                    <button type="submit" class="captcha_submit__btn"><img src="{% static 'frontEnd/images/logo/logo.jpeg' %}" alt=""> &nbsp; Click to Collect</button>
<!--                    <input type="submit" value="Collect">-->
                </form>
            </div>
        </div>
        <div class="col-md-4">
            {% if row_2_col_2_ads.ads_script %}
            {{row_2_col_2_ads.ads_script}}
            {% else %}
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_0'></script>
            {% endif %}
            </div>
    </div>
</div>
<br>
<br>

<br>
<section id="captcha__section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {% if row_3_col_1_ads.ads_script %}
                            {{row_3_col_1_ads.ads_script}}
                            {% else %}
<!--                            <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=15'></script>-->
                           <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {% if row_3_col_2_ads.ads_script %}
                {{row_3_col_2_ads.ads_script}}
                {% else %}
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                {% endif %}
            </div>

            <div class="col-md-4">
                {% if row_3_col_3_ads.ads_script %}
                {{row_3_col_3_ads.ads_script}}
                {% else %}
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
                {% endif %}
            </div>

        </div>
    </div>
</section>


<script type="text/javascript">

// captcha-1
      var onloadCallback = function() {


        grecaptcha.render('html_element_game', {
          'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        });
      };


      var captcha__form_game = document.getElementById('captcha__form_game');
        captcha__form_game.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        // ends captcha-1

</script>
{% endblock %}