{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}

<!-- ads -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if row_1_col_1_ads.ads_script %}
            {{row_1_col_1_ads.ads_script}}
            {% else %}
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if row_1_col_2_ads.ads_script %}
            {{row_1_col_2_ads.ads_script}}
            {% else %}
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
            {% endif %}
        </div>
    </div>
</div>
<!-- ads ends here-->

<section id="refund_policy">
    <div class="container">
        <div class="row">
            <!-- Main Content Section -->

            <section class="container">
                <div class="guide-page-content p-lg-5 p-md-4 p-sm-3 p-2 my-5">
                    <h1 class="text-center heading-text">HOW IT WORKS</h1>
                    <p class="guide-page-content-text mt-3">
                        <strong>Spinit2win.com</strong> sponsors and Advertising revenue provide promotional discounts and Spin Wheel prizes.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Register for FREE Spin Shopper account to collect rewards for your chance to spinit2win your next purchase.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Points are given to registered Spin Shoppers FREE with no purchase necesssary.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Collect points by completing Captcha taks found at <strong>Spinit2win.com</strong>
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Points have NO CASH VALUE and is a promotional offer, for registered Spin Shoppers
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Points are redeemable for rewards offered by <strong>Spinit2win.com</strong> and its affiliates.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Points can be redeemed for Spin game Tokens - 1000 Spin points per Spin
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Tokens are used to play Spin Game on <strong>Spinit2win.com</strong>.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Shoppers plays game to WIN Prize, Every spin is a Winner
                    </p>
                    <p class="guide-page-content-text mt-3">
                        <strong>Spinit2win.com</strong> Spin wheel offers a chance to win Discounts, Coupons, Prizes ofered by <strong>Spinit2win.com</strong>
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Every Spin Winds a Winner, Swag, Discounts, Coupons, Spin Points, Free Spins, FREE Prizes.
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Shoppers a responsible for shipping and handling and any custom Fee's that are applicable to Prizers won *
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Wheel Game Winnings are applied directly during checkout or in User account wallet for later use
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Wheel Game Odds and prizes are based on Ad revenue generated from Ad Sponsors While Spin Shoppers are using sites
                    </p>
                    <p class="guide-page-content-text mt-3">
                        Spin Shoppers ollecting spin points on <strong>Spinit2win.com</strong> various pages generates prizes for Spin Game
                    </p>
                    <p class="guide-page-content-text mt-3 text-center">
                        All rights reserved and Terms Subject to Change.
                    </p>

                </div>
            </section>

            <!-- End Main Content Section -->
        </div>
    </div>

    <br><br>

</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">
                {% if row_2_col_1_ads.ads_script %}
                {{row_2_col_1_ads.ads_script}}
                {% else %}
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=17'></script>
                {% endif %}
        </div>
        <div class="col-md-4">
            <div>
                <h5>Click to this reCaptcha and get 50 points bonus!</h5>
                <form action="{% url 'frontGamePageCheckBoxCaptchaBonus' %}" method="POST" enctype="multipart/form-data"
                      id="captcha__form_game">
                    {% csrf_token %}
                    <div id="html_element_game"></div>
                    <br>
                    <button type="submit" class="captcha_submit__btn"><img src="{% static 'frontEnd/images/logo/logo.jpeg' %}" alt=""> &nbsp; Click to Collect</button>
<!--                    <input type="submit" value="Collect">-->
                </form>
            </div>
        </div>
        <div class="col-md-4">
            {% if row_2_col_2_ads.ads_script %}
            {{row_2_col_2_ads.ads_script}}
            {% else %}
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_0'></script>
            {% endif %}
        </div>
    </div>
</div>
<br>
<br>

<br>
<section id="captcha__section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {% if row_3_col_1_ads.ads_script %}
                            {{row_3_col_1_ads.ads_script}}
                            {% else %}
<!--                            <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=15'></script>-->
                           <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {% if row_3_col_2_ads.ads_script %}
                {{row_3_col_2_ads.ads_script}}
                {% else %}
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                {% endif %}
            </div>

            <div class="col-md-4">
                {% if row_3_col_3_ads.ads_script %}
                {{row_3_col_3_ads.ads_script}}
                {% else %}
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
                {% endif %}
            </div>

        </div>
    </div>
</section>


<script type="text/javascript">

// captcha-1
      var onloadCallback = function() {


        grecaptcha.render('html_element_game', {
          'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        });
      };


      var captcha__form_game = document.getElementById('captcha__form_game');
        captcha__form_game.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        // ends captcha-1

</script>
{% endblock %}