{% extends 'frontEnd/index.html' %}
{% load static %}

{% block main_block %}

<!-- ads -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if row_1_col_1_ads.ads_script %}
            {{row_1_col_1_ads.ads_script}}
            {% else %}
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if row_1_col_2_ads.ads_script %}
            {{row_1_col_2_ads.ads_script}}
            {% else %}
            <!--yllx 468x60 starts &*************************************-->
            <script type="text/javascript"
                    src="https://udbaa.com/bnr.php?section=General&pub=444213&format=468x60&ga=g"></script>
            <!--yllx ends here **********************************-->
            {% endif %}
        </div>
    </div>
</div>
<!-- ads ends here-->

<section id="refund_policy">
    <div class="container">
        <div class="row">
            <!-- Main Content Section -->

            <section class="container">
                <div class="guide-page-content p-lg-5 p-md-4 p-sm-3 p-2 my-5">
                    <h1 class="text-center heading-text">SPIN POINTS</h1>
                    <p class="guide-page-content-text mt-3">
                        Spin Points are provided to Registered Spin Shoppers for completing various Captcha tasks to collect spin points.
                        <br>
                        Get rewarded for shopping with us. More you browse the better rewards you get. No purchase necessary.
                        <br>
                        Beta TEST promo ONLY Earn 3% Spin Points per purchase.
                        <br>
                        Spin Points are collected in Spin Shopper's account wallet.
                        <br>
                        Spin Points are used to play Spin games. Trade Spin Points for Spin Tokens for a chance to play spin games.
                        <br>
                        Spin Points are used for Spin Shopper only rewards.
                        <br>
                        Spin Points are given to Spin Shopper as a promotion, Spin Points have "NO CASH VALUE".

                    </p>
                    <h3 class="text-center heading-text-secondary">EARN SPIN POINTS</h3>
                    <div class="py-5">
                        <h5 class="w-100 text-start points-table"><span class="fs-1">1000</span> &nbsp;&nbsp;&nbsp;SPTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SigningUp for FREE account</h5>
                        <h5 class="w-100 text-start points-table"><span class="fs-1">&nbsp;&nbsp;&nbsp;&nbsp;50</span> &nbsp;&nbsp;&nbsp;SPTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dlai Sign in bonus - 1 per day</h5>
                        <h5 class="w-100 text-start points-table"><span class="fs-1">&nbsp;&nbsp;&nbsp;&nbsp;50</span> &nbsp;&nbsp;&nbsp;SPTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; per Email Invite - 20 per day</h5>
                        <h5 class="w-100 text-start points-table"><span class="fs-1">&nbsp;&nbsp;&nbsp;&nbsp;50</span> &nbsp;&nbsp;&nbsp;SPTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; per collect Points on various pages</h5>
                        <h5 class="w-100 text-start points-table"><span class="fs-1">&nbsp;&nbsp;250</span> &nbsp;&nbsp;&nbsp;SPTS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; per referral bonus that joins from referral link - email/phone# etc.</h5>
                        <h5 class="text-center w-100 mt-xl-5">All rights reserved and Terms Subject to Change</h5>
                    </div>

                </div>
            </section>

            <!-- End Main Content Section -->
        </div>
    </div>
    <br><br>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if row_2_col_1_ads.ads_script %}
            {{row_2_col_1_ads.ads_script}}
            {% else %}
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=17'></script>
            {% endif %}
            </div>
        <div class="col-md-4">
            <div>
                <h5>Click to this reCaptcha and get 50 points bonus!</h5>
                <form action="{% url 'frontGamePageCheckBoxCaptchaBonus' %}" method="POST" enctype="multipart/form-data"
                      id="captcha__form_game">
                    {% csrf_token %}
                    <div id="html_element_game"></div>
                    <br>
                    <button type="submit" class="captcha_submit__btn"><img src="{% static 'frontEnd/images/logo/logo.jpeg' %}" alt=""> &nbsp; Click to Collect</button>
<!--                    <input type="submit" value="Collect">-->
                </form>
            </div>
        </div>
        <div class="col-md-4">
            {% if row_2_col_2_ads.ads_script %}
            {{row_2_col_2_ads.ads_script}}
            {% else %}
                <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_0'></script>
            {% endif %}
        </div>
    </div>
</div>
<br>
<br>

<br>
<section id="captcha__section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {% if row_3_col_1_ads.ads_script %}
                            {{row_3_col_1_ads.ads_script}}
                            {% else %}
<!--                            <script data-cfasync='false' type='text/javascript' src='//p447162.clksite.com/adServe/banners?tid=447162_875550_3&size=15'></script>-->
                           <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                {% if row_3_col_2_ads.ads_script %}
                {{row_3_col_2_ads.ads_script}}
                {% else %}
                <script type="text/javascript" src="https://udbaa.com/bnr.php?section=General&pub=444213&format=300x250&ga=g"></script>
                {% endif %}
            </div>

            <div class="col-md-4">
                {% if row_3_col_3_ads.ads_script %}
                {{row_3_col_3_ads.ads_script}}
                {% else %}
                <a href="https://yllix.com/publishers/444213" target="_blank"><img src="//ylx-aff.advertica-cdn.com/pub/300x250.png" style="border:none;margin:0;padding:0;vertical-align:baseline;" alt="ylliX - Online Advertising Network" /></a>
                {% endif %}
            </div>

        </div>
    </div>
</section>


<script type="text/javascript">

// captcha-1
      var onloadCallback = function() {


        grecaptcha.render('html_element_game', {
          'sitekey' : '6LeyWrMfAAAAALCToOdJC3Y5Xat2bgwCZMJLL2E2',
        });
      };


      var captcha__form_game = document.getElementById('captcha__form_game');
        captcha__form_game.addEventListener("submit", function(event){

            if (grecaptcha.getResponse() === '') {
              event.preventDefault();
              alert('Please check the recaptcha');
            }
          }
        , false);

        // ends captcha-1

</script>
{% endblock %}