{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}

{% block dataTable_css %}
<!-- DataTables -->
<link rel="stylesheet"
      href="{% static 'backEnd/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}


{% block main_block %}
<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-12">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}

            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add site logo <span style="color: red;">(Width: 150px, Height: 90px)</span></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apAddSiteLogo' %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="banner_img_upload_btn">Upload Logo</label>
                                <input type="file" name="logo" class="banner_img_upload_field" id="banner_img_upload_field" style="visibility: hidden;" accept="image/*" required />
                                <button type="button" class="banner_img_upload_btn" id="banner_img_upload_btn" style="width: 100%; height: 40px; padding: 10px; border: none: outline: none; background-color: #3C8DBC;color: white;">
                                    <strong><i class="fas fa-upload"></i> Upload banner image</strong>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <img src="{% static 'backEnd/dist/img/avatar.png' %}" class="prev_banner_img" style="width: 100%; height: 200px" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary admin__prdctAdd_btn">LET'S ADD</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>


<!--data tables*******************************************-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <section class="content-header">
                <h1>
                    Current Logo
                </h1>
            </section>
        </div>
    </div>

    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Current Logo</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Logo ID</th>
                                    <th>Logo</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if existing_logo %}
                                <tr>
                                    <td>1</td>
                                    <td><img src="{{existing_logo.logo.url}}" style="width: 60px; height: 60px; border-radius: 50%;" alt=""></td>
                                    <td class="text-center">

                                        <!-- modal for deleting object-->

                                        <button type="button" style="border:none; background: #FF0000;color:white;" data-toggle="modal"
                                                data-target="#remove{{existing_logo.pk}}">
                                                <i class="fas fa-backspace"></i> Remove
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="remove{{existing_logo.pk}}" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-left" id="exampleModalLabel">Are you confirm to delete this?</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'apDelSiteLogo' pk=existing_logo.pk %}">
                                                            <button type="button" class="btn btn-primary">
                                                                Confirm
                                                            </button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        modal for deleting object ends-->

                                    </td>
                                </tr>
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Segment ID</th>
                                    <th>Logo</th>
                                    <th class="text-center">Action</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block dropzone_block %}

<script>
    const banner_img_upload_field = document.querySelector('.banner_img_upload_field');
    const banner_img_upload_btn = document.querySelector('.banner_img_upload_btn');
    const  prev_banner_img = document.querySelector('.prev_banner_img');

    banner_img_upload_field.onchange = ()=>{
        const [banner_img] = banner_img_upload_field.files;
        if (banner_img) {
            prev_banner_img.src = URL.createObjectURL(banner_img);
        }
    }

    banner_img_upload_btn.onclick =()=>{
        banner_img_upload_field.click();
    }

</script>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
{% endblock %}

{% block datatable_js %}
<!-- DataTables -->
<script src="{% static 'backEnd/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'backEnd/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}

