{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}


{% block main_block %}
<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}

            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add beta test terms & condition</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apUpdateBetaTestTermsConditions' pk=existing_terms_condition.pk %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="beta_test_termsConditions">Add beta test terms & condition</label>
                            <textarea name="beta_test_termsConditions" class="form-control" id="beta_test_termsConditions" rows="7" placeholder="Beta test terms & conditions">{{existing_terms_condition.content}}</textarea>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <script>
                         CKEDITOR.replace('beta_test_termsConditions');//name of textarea field
                    </script>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Let's Update</button>
                        <a href="{% url 'apAddBetaTestTermsConditions' %}">
                            <button type="button" style="background-color: #ff0000;" class="btn btn-primary">Cancel</button>
                        </a>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}

