{% extends 'backEnd_superAdmin/index.html' %}
{% load static %}


{% block main_block %}
<div class="container" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-12">

            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}


            <div style="position: relative;padding-top: 15px; padding-bottom: 15px;">
                <a href="/ap/product/details/pg/banner/list" style="position: absolute; right: 0; bottom: 15px;">
                    <button type="button" style="width: 130px;border: none; outline: none;color: white; border-radius: 5px; padding: 5px; background:#222D32;"><i class="fas fa-list"></i>&nbsp; Banner List</button>
                </a>
            </div>

            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Banner</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apAddBnrProdDetialPg' %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="banner_img_upload_btn">Upload Banner <span style="color: red;">(Width: 480px, Height: 72px)</span></label>
                                <input type="file" name="banner_img" class="banner_img_upload_field" id="banner_img_upload_field" style="visibility: hidden;" accept="image/*" required />
                                <button type="button" class="banner_img_upload_btn" id="banner_img_upload_btn" style="width: 100%; height: 40px; padding: 10px; border: none: outline: none; background-color: #3C8DBC;color: white;">
                                    <strong><i class="fas fa-upload"></i> Upload banner image</strong>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <img src="{% static 'backEnd/dist/img/avatar.png' %}" class="prev_banner_img" style="width: 100%; height: 200px" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="row form-group policy__section">
                            <div class="col-md-6">
                                <label>Product link/url</label>
                                <input type="text" name="url" class="form-control" placeholder="Product link" required>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary add_main__banner admin__prdctAdd_btn">LET'S ADD</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>

{% endblock %}

{% block dropzone_block %}

<script>
    const banner_img_upload_field = document.querySelector('.banner_img_upload_field');
    const banner_img_upload_btn = document.querySelector('.banner_img_upload_btn');
    const  prev_banner_img = document.querySelector('.prev_banner_img');
    const  add_main__banner = document.querySelector('.add_main__banner');

    banner_img_upload_field.onchange = ()=>{
        const [banner_img] = banner_img_upload_field.files;

        if (banner_img) {
            prev_banner_img.src = URL.createObjectURL(banner_img);
            prev_banner_img.onload = () =>{
                console.log(prev_banner_img.naturalWidth);
                console.log(prev_banner_img.naturalHeight);
                if(parseFloat(prev_banner_img.naturalWidth) != 480 || parseFloat(prev_banner_img.naturalHeight) != 72){
                     add_main__banner.disabled = true;
                }else{
                    add_main__banner.disabled = false;
                }
            }
        }
    }

    banner_img_upload_btn.onclick =()=>{
        banner_img_upload_field.click();
    }

</script>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
{% endblock %}

