{% extends 'backEnd_superAdmin/index.html' %}
{% load tag_library %}
{% load static %}


{% block dataTable_css %}

<link rel="stylesheet" href="{% static 'backEnd/group_up.css' %}">

{% endblock %}

{% block main_block %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
            {% for message in messages %}

            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ message }}!
            </div>

            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid" style="padding-top: 55px;">
    <div class="row">
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Filter Product by Weight Criteria</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apSegmentSettings' %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Select Weight Criteria</label>
                                <select name="weight_criteria" id="weight_criteria" class="form-control segment_name" required>
                                    <option>Select Weight criteria</option>
                                    {% if all_weight_criteria %}
                                    {% for x in all_weight_criteria %}
                                    <option value="{{x.pk}}">{{x.min_weight}} - {{x.max_weight}}kg</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;">
                                <label>Select product</label>
                                <select name="select_product" class="form-control" size="20" multiple id="select_product">
                                </select>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary add_group_up_products_btn">ADD <i class="fas fa-arrow-alt-circle-right"></i></button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
<!--        <div class="col-md-1">-->
<!--            <div>-->
<!--                <button type="button"><i class="fas fa-arrow-alt-circle-right"></i></button>-->
<!--            </div>-->
<!--        </div>-->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Specify products shipping class</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form action="{% url 'apupdateGroupedProductsShippingClass' %}" method="post" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <div class="box-body">

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Select Shipping Class</label>
                                <select name="shippingClass" class="form-control" required>
                                    <option>Select Shipping Class</option>
                                    {% if all_shipping_class %}
                                    {% for x in all_shipping_class %}
                                    <option value="{{x.pk}}">{{x.name}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>

                            <div class="col-md-12" style="margin-top: 10px;">
                                <label>Select product</label>
                                <select name="selected_products_byCriteria" class="form-control" size="20" multiple id="selected_products_byCriteria">

                                </select>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary sgmnt_stting_sbmit_btn">LET'S ADD</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>


{% endblock %}

{% block dropzone_block %}
<script>
</script>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
{% endblock %}

{% block datatable_js %}
<!-- DataTables -->
<script src="{% static 'backEnd/group_up_products_by_weightCriteria.js' %}"></script>
{% endblock %}